<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome</ion-card-title>
      <ion-card-subtitle>Wildlife Conservation</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      This is the homepage of the awesome app.
    </ion-card-content>
    
  </ion-card>
</ion-content>
