body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #37474f;
    margin: 0px;
    padding: 0px;
}
p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .5px;
    color: #37474f;
    margin: 0px;
    padding: 0px;
}
.blog {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, .3) 0px 4px 8px -2px;
    padding: 50px;
}
.blog h1 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: .75px;
    color: #37474f;
    margin: 0px;
    padding: 0px;
}
.blog h1 a {
    text-decoration: none;
    font-weight: bold;
    transition: all ease .2s;
}
.blog h1 a:hover {
    color: #37474f;
}
.blog p {
    margin: 0px;
    padding: 0px;
}


